@reference "../App.css";

@layer components {
  #header {
    height: var(--header-height);
    @apply fixed top-0 left-0 right-0 z-40  bg-beige-500/75  backdrop-blur-md shadow-sm transition-all duration-300;
  }

  .active-bubble {
    @apply fixed bg-beige-800/30 outline-beige-950/80 outline-1 rounded-lg  pointer-events-none -z-600;
    content: "";
    position-anchor: --active;
    position: fixed;

    top: anchor(top);
    bottom: anchor(bottom);
    right: anchor(right);
    left: anchor(left);
    transition: all 200ms ease-in;
  }

  @media (pointer: fine) and (min-width: 641px) {
    #mobile-nav-container {
      @apply hidden;
    }

    #desktop-nav-container {
      @apply flex w-full h-full items-center justify-between px-6 sm:px-12 max-w-7xl mx-auto;
      & > nav {
        @apply flex h-full items-center;

        & > ul {
          @apply flex items-center h-full;
        }
      }
    }

    #desktop-nav-container > nav > ul,
    .submenu-container > .submenu {
      & > li {
        @apply relative flex items-center;

        & > a {
          @apply box-border flex items-center gap-2 px-3 py-4 font-secondary outline-0 outline-beige-950/80 font-extrabold transition-all rounded-lg  leading-none grow-1;

          &.active,
          &:hover {
            anchor-name: --active;
            @apply text-rose;
          }

          &:hover {
            @apply text-rose-300;
          }

          @supports not (position-anchor: --active) {
            &.active,
            &:hover {
              @apply bg-beige-800/30 outline-1;
              transition: all 100ms ease-in;
            }
          }

          &.expanded {
            @apply text-rose-300;
          }

          & > .expand-icon {
            height: 1em;
            width: 1em;
          }
        }
      }
    }

    &:has(a:not(.active):hover) a.active {
      @apply bg-transparent outline-0;
    }

    .submenu-container {
      @apply origin-top-left fixed z-50;

      &.first-dropdown {
        padding-top: calc(var(--header-height) / 2 - 0.5em - 1rem - 6px);
        & > .submenu {
          @apply rounded-t-none;
        }
      }

      & > .submenu {
        @apply bg-beige-500/75 backdrop-blur-md min-w-40 rounded-lg shadow-xl border border-beige-950/90 dark:border-white/10 flex flex-col animate-fade-in-scale;

        &:not(:has(a:hover)) > .active-bubble {
          @apply hidden;
        }
      }
    }
  }
  @media (pointer: fine) and (max-width: 698px) {
    #desktop-nav-container {
      padding-inline: calc((100vw - 610px) / 2);
    }
  }

  @media (pointer: coarse) or (max-width: 640px) {
    #header {
      #desktop-nav-container {
        @apply hidden;
      }
      button#mobile-menu-toggle {
        @apply fixed z-30 p-2 flex flex-col justify-center items-center w-10 h-10 gap-1.5;
        top: calc(var(--header-height) / 2 - 1.25rem);
        right: calc(var(--header-height) / 2 - 1.25rem);
        & > span {
          @apply block w-6 h-0.5 scale-100 rounded-full bg-current transition-all duration-300 opacity-100 outline-foreground/0;
        }

        &.is-open {
          & > :nth-child(2) {
            @apply translate-x-1;
          }
        }

        &.is-opening {
          & > :nth-child(1) {
            @apply -translate-x-2;
          }
          & > :nth-child(2) {
            @apply -translate-x-1;
          }
          & > :nth-child(3) {
            @apply -translate-x-2;
          }
        }

        &.is-open {
          & > :nth-child(1) {
            @apply origin-center rotate-45 translate-y-2;
            transition: all 200ms ease-in 100ms;
          }
          & > :nth-child(2) {
            @apply scale-x-0 -translate-x-2 opacity-0;
            transition:
              scale 150ms ease-in 100ms,
              opacity 150ms ease-in 100ms,
              translate 100ms ease-in;
          }
          & > :nth-child(3) {
            @apply origin-center -rotate-45 -translate-y-2;
            transition: all 200ms ease-in 100ms;
          }
        }

        @media (hover: hover) {
          &.hover > span {
            @apply outline-foreground/10 outline-1;
          }

          &.is-open.hover {
            @apply scale-110;
          }

          &.is-close.hover {
            & > :nth-child(2) {
              @apply -translate-x-1;
            }
          }
        }
      }
    }

    #mobile-nav-container {
      --animation-time: 200ms;
      @apply fixed z-30 inset-0 pointer-events-auto;

      top: var(--header-height);
      & > * {
        transition: all ease-in var(--animation-time);
      }
      & > .backdrop {
        @apply absolute inset-0 bg-black/20 backdrop-blur-md opacity-100;
        height: calc(100% + var(--header-height));
        top: calc(var(--header-height) * -1);
      }

      & > .menu {
        @apply ml-auto  z-2 relative flex flex-col w-3/4 max-w-sm h-full bg-beige-500/75 border-l border-t border-beige-950/60 shadow-2xl translate-x-0;

        & > nav {
          @apply flex-1 overflow-y-auto p-6;

          & > ul {
            @apply flex flex-col gap-2;
            ul {
              @apply min-h-0 ml-4 border-l border-foreground/10 pl-2 mt-1;
            }
            li {
              @apply list-none;

              & > a {
                @apply flex items-center justify-between py-3 px-4 rounded-lg hover:bg-foreground/5 transition-colors text-lg font-secondary font-medium;
                &:hover {
                  anchor-name: --active;
                }
                & > .expand-icon {
                  height: 1em;
                  width: 1em;
                }
              }

              & > .submenu {
                @apply grid transition-all duration-300 ease-in-out overflow-hidden opacity-0;
                grid-template-rows: 0fr;
              }

              &.active {
                & > a {
                  @apply text-rose-500;
                }

                & > .submenu {
                  @apply opacity-100;
                  grid-template-rows: 1fr;
                }
              }
            }
          }
        }

        & > .footer {
          @apply p-6 border-t border-foreground/5 flex items-center justify-between;
          & > span {
            @apply font-secondary font-semibold;
            font-size: 1.2em;
          }
        }
      }

      @starting-style {
        & > .menu {
          @apply translate-x-full;
        }

        & > .backdrop {
          @apply opacity-0;
        }
      }

      &.is-closing {
        & > .menu {
          @apply translate-x-full;
        }

        & > .backdrop {
          @apply opacity-0;
        }
      }
    }
    body:has(#mobile-nav-container.is-open) {
      overflow: hidden;
    }
  }

  html.dark {
    #header {
      @apply bg-black/75 border-beige-300/10 border-b-1 shadow-beige-100/5;
    }
    .active-bubble {
      @apply bg-beige-300/5 outline-beige-300/50;
    }

    @media (pointer: fine) and (min-width: 641px) {
      .submenu-container {
        & > .submenu {
          @apply bg-black/75 border-beige-300/10 border-b-1 shadow-beige-100/5;
        }
      }
    }

    @media (pointer: coarse) or (max-width: 640px) {
      #header {
        button#mobile-menu-toggle {
          & > span {
            @apply outline-beige-100/0;
          }

          @media (hover: hover) {
            &.hover > span {
              @apply outline-beige-200/10 outline-1;
            }
          }
        }
      }

      #mobile-nav-container {
        & > .backdrop {
          @apply bg-white/5;
        }

        & > .menu {
          @apply bg-black/75 border-beige-200/10;

          & > nav {
            & > ul {
              ul {
                @apply border-beige-100/10;
              }
            }
          }

          & > .footer {
            @apply border-beige-100/10;
          }
        }
      }
    }
  }
}
