@reference "../App.css";
@layer components {
  .skills {
    @apply grid grid-cols-2 gap-x-6  gap-y-4;
    h4 {
      @apply mb-3;
      height: var(--title-height, auto);
    }

    & > div:last-child {
      @apply mt-5;
      grid-column: 1/3;
    }

    & ul {
      @apply flex flex-wrap gap-y-4;
    }

    & li {
      @apply shrink-1 grow-0 w-fit relative px-4;
      --dropdown-transition-time: 500ms;
      --fade-transition: 100ms;

      & > .icon {
        @apply text-primary w-fit mx-auto  [&>svg]:size-12 md:[&>svg]:size-16 relative;
        & > .info-icon {
          @apply hidden;
        }
      }

      & > .name {
        @apply relative block text-foreground/80 text-center font-secondary font-semibold mx-auto mt-2 z-2;
        font-size: 0.85em;
      }

      & > .icon > svg:first-child {
        @apply overflow-visible;
        & > path {
          @apply stroke-[.5px] stroke-rose-950 overflow-visible;
          @apply drop-shadow-rose-900/35 drop-shadow-sm;
        }
      }

      &.toggle {
        @apply cursor-pointer;
        .info-icon {
          @apply block absolute cursor-pointer box-content fill-rose-200 bg-beige-200 rounded-full
             size-6 -top-0.5 -right-0.5
             md:size-7 ease-in transition-all;
        }

        &::before {
          @apply content-[""] absolute w-full h-full rounded-md border-beige-950/80 bg-beige-300 drop-shadow-md border-1 scale-0 opacity-0 ease-in transition-all duration-150 left-0 -top-2;
          height: calc(100% + 1rem);
        }
        &:hover,
        &.is-active {
          &::before {
            @apply scale-100 opacity-100 ease-out duration-100;
          }
          & > .icon > .info-icon {
            @apply fill-foreground scale-110;
          }
        }

        &.is-active {
          @apply cursor-default;
        }
      }

      &.animate {
        & > div {
          .icon .show-tooltip-icon {
            animation: animate-skill-info 2s linear infinite;
          }
        }

        &:hover {
          & > div {
            .icon .show-tooltip-icon {
              animation: none;
            }
          }
        }
      }
    }

    &:has(li.toggle:not(.is-active):hover) li.is-active {
      &::before {
        @apply scale-0 opacity-0;
      }

      & > .icon {
        @apply text-primary w-fit mx-auto;
        & > .info-icon {
          @apply scale-100 fill-primary;
        }
      }
    }

    & > #tooltip-details {
      grid-column: 1/3;

      @apply flex justify-between items-center gap-4  relative border-1 border-beige-950/80 bg-beige-300 rounded-sm py-6 px-4 drop-shadow-md
    scale-100 translate-x-0 opacity-100 ease-out duration-200 transition-all delay-50  mt-4;

      @starting-style {
        @apply scale-0 opacity-0 basis-0 -translate-x-1/2;
      }
      & > li {
        all: unset;
        flex-grow: 1;
      }

      & > .tooltip {
        @apply w-full h-fit pr-4 mt-0;
      }

      & > .close-icon {
        @apply size-7 absolute top-0 right-0 cursor-pointer p-1.5 box-content fill-primary hover:fill-foreground;
      }

      &.is-dismounting {
        @apply opacity-0 scale-y-0 p-0 h-0 mt-0 overflow-hidden;
        transition: opacity 25ms ease-in;
      }
    }
  }

  html.dark {
    .skills {
      & li {
        @apply text-primary shrink-1 grow-0 w-fit relative;

        & > .icon {
          @apply text-primary;

          & > svg:first-child {
            & > path {
              @apply stroke-rose-950 drop-shadow-rose-700/35;
            }
          }
        }

        & > .name {
          @apply text-beige-200/80;
        }

        &.toggle {
          .info-icon {
            @apply fill-rose-200 bg-gray-400;
          }
          &::before {
            @apply bg-beige-300/5 border-beige-300/50 border-1;
          }
          &:hover,
          &.is-active {
            & > .icon > .info-icon {
              @apply fill-beige-200;
            }
          }
        }
      }

      & > #tooltip-details {
        @apply bg-beige-300/5 border-beige-300/50;

        & > .close-icon:hover {
          @apply fill-beige-200;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .skills {
      @apply flex flex-col gap-y-6;
      & > div:last-child {
        @apply mt-0;
      }

      & > #tooltip-details {
        grid-column: 1/3;

        @apply flex  max-w-full grow-1 justify-between items-center gap-4  relative border-1 border-beige-950/80 bg-beige-300 rounded-sm py-6 px-4 drop-shadow-md
    scale-100 translate-x-0 opacity-100 ease-out duration-200 transition-all delay-100 mt-4;

        @starting-style {
          @apply scale-0 opacity-0 basis-0 -translate-x-1/2;
        }
        & > li {
          all: unset;
          flex-grow: 1;
        }

        & > .tooltip {
          @apply w-full h-fit pr-4 mt-0;
        }

        & > .close-icon {
          @apply size-7 absolute top-0 right-0 cursor-pointer p-1.5 box-content fill-primary hover:fill-foreground;
        }
      }
    }
  }

  @media (max-width: 640px) {
  }

  @keyframes animate-skill-info {
    0% {
      fill: var(--color-white);
    }

    75% {
      fill: var(--color-foreground);
    }
  }
}
