@reference "../App.css";

@layer components {
  @starting-style {
    #theme-button * {
      @apply transition-none;
    }
  }

  #theme-button {
    @apply relative w-12 h-6  rounded-full outline-1  cursor-pointer;

    & > svg {
      @apply absolute translate-x-0 top-0.5 left-0.5 size-5 rounded-full stroke-[0.5]  z-1 outline-1  transition-all ease-in;
      & > path {
        @apply opacity-100 transition-all ease-in overflow-visible;
      }
    }
  }

  html.dark #theme-button {
    @apply bg-gray-100  outline-beige-100;

    & > svg {
      @apply fill-gray-100 stroke-gray-950 bg-beige-100 outline-1 outline-gray-950;
    }

    &.hover {
      @apply bg-beige-200 outline-beige-950;

      & > svg {
        @apply stroke-beige-950 fill-beige-700 outline-beige-950 bg-beige-50 translate-x-6;
      }
    }
  }

  html.light #theme-button {
    @apply bg-beige-200 outline-beige-950;
    & > svg {
      @apply stroke-beige-950 fill-beige-700 outline-beige-950 translate-x-6;
    }

    &.hover {
      @apply bg-gray-100  outline-beige-100;

      & > svg {
        @apply translate-x-0 fill-gray-100  stroke-gray-950 bg-beige-100 outline-1 outline-gray-950;
      }
    }
  }

  @supports (d: path("M0 0")) {
    #theme-button {
      #sun {
        @apply hidden;
      }
      #moon {
        @apply duration-200;
      }
    }

    html.dark #theme-button > svg > #moon,
    html.light #theme-button.hover > svg > #moon {
      d: path(
        "M 320 64 C 302.325 64 285.069 65.791 268.403 69.2 C 251.737 72.61 235.661 77.639 220.347 84.116 C 205.033 90.592 190.48 98.516 176.861 107.717 C 163.242 116.917 150.556 127.394 138.975 138.975 C 127.394 150.556 116.917 163.242 107.717 176.861 C 98.516 190.48 90.592 205.033 84.116 220.347 C 77.639 235.661 72.61 251.737 69.2 268.403 C 65.791 285.069 64 302.325 64 320 C 64 337.675 65.791 354.931 69.2 371.597 C 72.61 388.263 77.639 404.339 84.116 419.653 C 90.592 434.967 98.516 449.52 107.717 463.139 C 116.917 476.758 127.394 489.444 138.975 501.025 C 150.556 512.606 163.242 523.083 176.861 532.283 C 190.48 541.484 205.033 549.408 220.347 555.884 C 235.661 562.361 251.737 567.39 268.403 570.8 C 285.069 574.209 302.325 576 320 576 C 388.8 576 451.3 548.8 497.3 504.6 C 504.6 497.6 506.7 486.7 502.6 477.5 C 498.5 468.3 488.9 462.6 478.8 463.4 C 473.9 463.8 469 464 464 464 C 451.3 464 438.9 462.712 426.923 460.261 C 414.947 457.809 403.394 454.194 392.387 449.538 C 381.381 444.881 370.922 439.184 361.133 432.57 C 351.344 425.956 342.225 418.425 333.9 410.1 C 325.575 401.775 318.044 392.656 311.43 382.867 C 304.816 373.078 299.119 362.619 294.462 351.613 C 289.806 340.606 286.191 329.053 283.739 317.077 C 281.288 305.1 280 292.7 280 280 C 280 207.9 321.5 145.4 382.1 115.2 C 391.2 110.7 396.4 100.9 395.2 90.8 C 394 80.7 386.6 72.5 376.7 70.3 C 358.4 66.2 339.4 64 320 64 L 320 64 M 320 320 C 320 320 320 320 320 320 C 320 320 320 320 320 320 C 320 320 320 320 320 320 C 320 320 320 320 320 320 L 320 320 M 320 320 L 320 320 C 320 320 320 320 320 320 C 320 320 320 320 320 320 C 320 320 320 320 320 320 C 320 320 320 320 320 320"
      );
    }

    html.light #theme-button > svg > #moon,
    html.dark #theme-button.hover > svg > #moon {
      d: path(
        "M 232.7 56.1 C 226 51.7 217.6 50.8 210.2 53.9 C 210.2 53.9 210.2 53.9 210.2 53.9 C 202.9 56.9 197.5 63.5 195.9 71.3 C 188.933 105.733 181.967 140.167 175 174.6 C 140.567 181.533 106.133 188.467 71.7 195.4 C 63.9 196.9 57.3 202.3 54.3 209.7 C 51.3 217.1 52.1 225.5 56.5 232.2 C 75.9 261.467 95.3 290.733 114.7 320 C 95.3 349.233 75.9 378.467 56.5 407.7 C 52.1 414.4 51.3 422.9 54.3 430.2 C 57.3 437.5 63.9 442.9 71.7 444.5 C 106.133 451.467 140.567 458.433 175 465.4 C 181.933 499.833 188.867 534.267 195.8 568.7 C 197.3 576.5 202.7 583.1 210.1 586.1 C 217.5 589.1 225.9 588.3 232.6 583.9 C 261.867 564.5 291.133 545.1 320.4 525.7 C 349.667 545.1 378.933 564.5 408.2 583.9 C 414.9 588.3 423.4 589.1 430.7 586.1 C 438 583.1 443.4 576.5 445 568.7 C 451.933 534.267 458.867 499.833 465.8 465.4 C 500.233 458.467 534.667 451.533 569.1 444.6 C 576.9 443.1 583.5 437.7 586.5 430.3 C 589.5 422.9 588.7 414.5 584.3 407.8 C 564.9 378.533 545.5 349.267 526.1 320 C 545.5 290.733 564.9 261.467 584.3 232.2 C 588.7 225.5 589.5 217 586.5 209.7 C 583.5 202.4 576.9 197 569.1 195.4 C 534.7 188.433 500.3 181.467 465.9 174.5 C 458.933 140.1 451.967 105.7 445 71.3 C 443.4 63.5 438.2 56.9 430.8 53.9 C 423.4 50.9 415 51.7 408.3 56.1 C 379.033 75.5 349.767 94.9 320.5 114.3 L 232.7 56.1 M 239.6 320 C 239.6 275.6 275.6 239.6 320 239.6 C 364.4 239.6 400.4 275.6 400.4 320 C 400.4 364.4 364.4 400.4 320 400.4 C 275.6 400.4 239.6 364.4 239.6 320 L 239.6 320 M 448.4 320 L 448.4 320 C 448.4 390.9 390.9 448.4 320 448.4 C 249.1 448.4 191.6 390.9 191.6 320 C 191.6 249.1 249.1 191.6 320 191.6 C 390.9 191.6 448.4 249.1 448.4 320"
      );
    }
  }

  @supports not (d: path("M0 0")) {
    #theme-button {
      #moon {
        @apply opacity-100 ease-out;
      }
      #sun {
        @apply opacity-0 ease-out;
      }
      &.light {
        #moon {
          @apply opacity-0;
        }
        #sun {
          @apply opacity-100;
        }
      }
    }
  }
}
