@reference "../App.css";
@layer components {
  .timeline {
    --vertical-gap: 1rem;

    @apply relative grid  gap-x-4 gap-y-[var(--vertical-gap)];
    --disk-size: 3rem;
    grid-template-columns: auto var(--disk-size) auto;

    & > :nth-child(3n + 2) {
      @apply relative size-full mx-auto mt-1.5 text-teal;

      &::before {
        @apply content-[""] absolute top-0 left-0  w-full aspect-square bg-current rounded-full outline-2 outline-offset-4 outline-current outline-dashed;
      }

      &::after {
        @apply content-[""] absolute right-0 left-0 top-13 mx-auto
            border-l-3 border-dashed border-l-current w-1;
        height: calc(
          100% - 0.25rem * 1.5 - var(--disk-size) + var(--vertical-gap) - 3px
        );
      }
    }

    & > :nth-child(6n + 2) {
      @apply text-rose;
    }

    & > :nth-last-child(2) {
      &::after {
        height: calc(100% - 0.25rem * 1.5 - var(--disk-size) - 3px);
      }
    }
  }
  @media (max-width: 1024px) {
    .timeline {
      grid-template-columns: var(--disk-size) auto;
      @apply grid-flow-dense;

      & > :nth-child(3n + 2) {
        grid-column: 1 / 2;
        grid-row: span 2;
      }
      & > :nth-child(3n + 1),
      & > :nth-child(3n + 3) {
        grid-column: 2;
        grid-row: span 1;
      }
      & > :nth-child(3n + 2) {
        &::before {
        }

        &::after {
          height: calc(
            100% - 0.25rem * 1.5 - var(--disk-size) + var(--vertical-gap) - 3px
          );
        }
      }
      & > :nth-last-child(2) {
        &::after {
          height: calc(100% - 0.25rem * 1.5 - var(--disk-size) - 3px);
        }
      }
    }
  }

  @media (max-width: 640px) {
    .timeline {
      --disk-size: 2.5rem;
      grid-template-columns: var(--disk-size) auto;

      & > :nth-child(3n + 2) {
        &::before {
          @apply outline-2 outline-offset-3 outline-current outline-dashed;
        }

        &::after {
          @apply top-11  border-l-2;
        }
      }
    }
  }
}
